<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Jeffrey Viewer - Video</title>

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/css/portfolio-item.css" rel="stylesheet">

	<link rel="stylesheet" href="/css/plyr.min.css">
	<link rel="stylesheet" href="/css/viewer.css">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">Jeffrey File Viewer</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active" id="return">
						<a class="nav-link" href="/d">Return to
							<span id="return-link">Jeffrey Files</span>
						</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">

		<!-- Portfolio Item Heading -->
		<h1 class="my-4">
			<span id="title">Loading...</span>
			<small id="location"></small>
		</h1>

		<!-- Portfolio Item Row -->
		<div class="row">

			<div class="col-md-8">
				<div class="inner">
					<!--TODO: Use bootstrap responsive embed-->
					<video id="video-main" controls class="embed-responsive-item hidden">

					</video>
					<div id="video-external"></div>
				</div>
			</div>

			<div class="col-md-4">
				<h3 class="my-3">File Description</h3>
				<p>
					<b>No Description Found.</b>
				</p>
				<h3 class="my-3">File Details</h3>
				<ul>
					<li>
						<b>Type</b>: Video</li>

				</ul>
			</div>

		</div>
		<!-- /.row -->



	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="py-5 bg-dark fixed-bottom">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Jeffrey Meng 2017</p>
		</div>
		<!-- /.container -->
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/plyr.min.js"></script>
	<script src="/js/viewer.js"></script>

	<script>
		/* global plyr getQuery */


		var data;
		if (getQuery("d")) {
			data = JSON.parse(decodeURIComponent(getQuery("d")));
		} else {
			//if no data parameter is provided, we assume data is added in the form o a URL search parameter.
			var search = location.search.substring(1);
			data = JSON.parse('{"' + decodeURI(search).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g, '":"') + '"}')
		}

		// loop through the object and change whitespace only/no charcter properties to undefined

		for (var key in data) {
			if (p.hasOwnProperty(key) && ((data[key].match(/^\s*$/g)) || data[key] == null)) {
				delete data[key];//remove the element

			}
		}
		if (data.mode == undefined) {
			mode = "preview"
		}
		if (data.mode == "preview") {
			var player = plyr.setup($("#video-main"), {
				iconUrl: "/svg/plyr.svg"
			})[0];
			player.source({
				type: 'video',
				title: 'View From a Blue Moon',
				sources: [{
					src: '/samplecontent/bluemoon/viewfromabluemoon.mp4',
					type: 'video/mp4'
				},
				{
					src: '/samplecontent/bluemoon/viewfromabluemoon.webm',
					type: 'video/webm'
				}
				],
				poster: '/samplecontent/bluemoon/viewfromabluemoon.jpg',
				tracks: [{
					kind: 'captions',
					label: 'English',
					srclang: 'en',
					src: '/samplecontent/bluemoon/viewfromabluemoon.en.vtt',
					default: true
				}]
			});
		}
		else if (data.mode == "local") {
			var player = plyr.setup($("#video-main"), {
				iconUrl: "/svg/plyr.svg"
			})[0];
			player.source({
				type: 'video',
				title: data.filename,
				sources: [{
					src: data.objectURL,
					type: data.type
				}]
			});
		} else if (data.mode == "url") {
			$("#return").addClass("hidden");
			var player = plyr.setup($("#video-main"), {
				iconUrl: "/svg/plyr.svg"
			})[0];
			if (data.title) {
				$("#title").text(data.title);
			}
			if (data.location) {
				$("#location").text(data.location);
			}
			player.source({
				type: 'video',
				title: data.filename,
				sources: [{
					src: data.url,
					type: data.type
				}]
			});

		} else if (data.mode == "youtube") {
			var title;
			if (data.title) {
				title = data.title;
			} else if (player.getEmbed().getVideoData().title) {
				title = player.getEmbed().getVideoData().title;
			} else {
				title = "Untitled Video"
			}
			console.log(player.getEmbed().getVideoData().title);
			console.log(title);
			$("#title").text(title);
			if (data.location) {
				$("#location").text(data.location);
			} else {
				$("#location").text("From YouTube");
			}
			
			player.source({
				type: 'video',
				title: title,
				sources: [{
					src: data.url,
					type: "youtube"
				}]
			});
		}
	</script>
</body>

</html>